<div class="container">
<div>
  <div>
    <h1>
    <%if@the_fact_finding.date2.present?%>
      FFM: <%= @the_fact_finding.employee.first_name %> <%= @the_fact_finding.employee.last_name %> on <%= @the_fact_finding.date2.strftime("%-m/%-d/%y") %>
    <%else%>
      FFM: <%= @the_fact_finding.employee.first_name %> <%= @the_fact_finding.employee.last_name %> on <%= @the_fact_finding.date.strftime("%-m/%-d/%y") %>
    <%end%>
    </h1>

    <div>
    

   

    <dl>
      <dt>
        Employee
      </dt>
      <dd>
        <a href="/employees/<%= @the_fact_finding.emp_id %>">
        <%= @the_fact_finding.employee.first_name %> <%= @the_fact_finding.employee.last_name %>
        </a>
      </dd>

      <dt>
        Date
      </dt>
      <dd>
            <%if@the_fact_finding.date2.present?%>
Updated: <%= @the_fact_finding.date2.strftime("%-m/%-d/%y") %>
<br>
<i>Original: <%= @the_fact_finding.date.strftime("%-m/%-d/%y") %></i>
    <%else%>
<%= @the_fact_finding.date.strftime("%-m/%-d/%y") %>
    <%end%>
      </dd>
 
      <dt>
        Time
      </dt>
      <dd>
               <%if@the_fact_finding.date2.present?%>
Updated: <%= @the_fact_finding.time2.strftime("%H:%M") %>
<br>
<i>Original: <%= @the_fact_finding.time.strftime("%H:%M") %></i>
    <%else%>
<%= @the_fact_finding.time.strftime("%H:%M") %>
    <%end%>
      </dd>

      <dt>
        Sup
      </dt>
      <dd>
        <%= @the_fact_finding.supervisor.first_name %> <%= @the_fact_finding.supervisor.last_name %>
      </dd>

      <dt>
       Meeting Notes
      </dt>
      <dd>
        <%= @the_fact_finding.notes %>
      </dd>

      <dt>
        To discuss
      </dt>
      <dd>
        <%= @the_fact_finding.to_discuss %>
      </dd>

      <dt>
        Created
      </dt>
      <dd>
        <%= time_ago_in_words(@the_fact_finding.created_at) %> ago
      </dd>

      <dt>
        Updated
      </dt>
      <dd>
        <%= time_ago_in_words(@the_fact_finding.updated_at) %> ago
      </dd>

        <dt>
        FA Response
      </dt>
    <%if @the_fact_finding.response.present? %>
      <dd>
        <%= @the_fact_finding.response %>
      </dd>
    <%else%>
     <dd>
        Awaiting Response
      </dd>
    <%end%>
    </dl>
  </div>
</div>

<hr>





    <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Edit Fact Finding Meeting
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
     <div>
    <h3>
      Edit Fact Finding Meeting
    </h3>

    <form action="/modify_fact_finding/<%= @the_fact_finding.id %>"  method="post" >
      <div class="row">
      <div class="col">
     
        <label for="emp_id_box">
          Employee ID
        </label>

        <input type="text" id="emp_id_box" name="query_emp_id" class="form-control-plaintext" value="<%= @the_fact_finding.emp_id%>">

      </div>

<div class="col">
    <label for="sup_id_box">Supervisor</label>
    <input type="text" id="sup_id_box" name="query_sup_id" class="form-control-plaintext" value="<%= current_user.emp_id %>">
 
</div>
    </div>
      <div class="row">
      <div class="col">
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date" class="form-control" value="<%= @the_fact_finding.date %>">
      </div>

      <div class="col">
        <label for="time_box">
          Time
        </label>

        <input type="time" id="time_box" name="query_time" class="form-control" value="<%= @the_fact_finding.time.strftime('%H:%M') %>">
</div>
<% if @the_fact_finding.response == "Request Reschedule"%>
          <div class="row">
      <div class="col">
        <label for="date2_box">
          Rescheduled Date
        </label>

        <input type="date" id="date_box2" name="query_date2" class="form-control">
      </div>

      <div class="col">
        <label for="time2_box">
          Rescheduled Time
        </label>

        <input type="time" id="time2_box" name="query_time2" class="form-control">
      </div>
      </div>
      <%end%>



      <div>
        <label for="to_discuss_box">
          To discuss
        </label>

        <input type="text" id="to_discuss_box" name="query_to_discuss" class="form-control" value="<%= @the_fact_finding.to_discuss %>">
      </div>
  
      <button type="submit" class="btn btn-primary">
        Update Meeting
      </button>
    </form>
  </div>
      </div>
    </div>
  </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Meeting Notes
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
   <div>
   <h4>Add Meeting Notes</h4>
   <form action="/meetingnotes_fact_finding/<%= @the_fact_finding.id %>"  method="post" >
        <label for="notes_box">
         Meeting Notes
        </label>

<%if @the_fact_finding.notes.present?%>
        <textarea id="notes_box" class="form-control" name="query_notes"><%= @the_fact_finding.notes%></textarea>
<%else%>
  <textarea id="notes_box" class="form-control" name="query_notes"></textarea>
<%end%>
           <button type="submit" class="btn btn-primary">
        Save Meeting Notes
      </button>
        </form>
      </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Issue Conclusion/Discipline
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <h4>Issue Conclusion/Discipline</h4>
   <form action="/insert_discipline" method="post">
      <div class="row">
      <div class="col">

        <label for="emp_id_box">
          Employee ID
        </label>

        <input type="text" id="emp_id_box" readonly class="form-control-plaintext" name="query_emp_id"  value="<%=@the_fact_finding.emp_id%>">

      </div>

<div class="col">

    <label for="sup_id_box">Supervisor</label>
    <input type="text" id="sup_id_box" name="query_sup_id" readonly class="form-control-plaintext" value="<%=current_user.emp_id%>">

      </div>
      <div class="col">

    <label for="ffm_id_box">FFM ID</label>
    <input type="text" id="ffm_id_box" name="query_ffm_id" readonly class="form-control-plaintext" value="<%=@the_fact_finding.id%>">

      </div>
      </div>

      <div class="row">
      <div class="col">
        <label for="level_box">
          Level
        </label>

  <select id="level_box" name="query_level" class="form-select" style="width: 100%">
         <option>C&C</option>
          <option>DVW</option>
          <option>DWW</option>
          <option>FTW</option>
          <option>TERM</option>
          </select>
    </div>

        <div class="col">
        <label for="title_for_box">
          Title for
        </label>

        <input type="text" id="title_for_box" name="query_title_for" class="form-control" style="width: 100%" value="<%=@the_fact_finding.to_discuss%>">
      </div>
      </div>

      <div class="row">
        <div class="col">
        <label for="effective_box">
          Effective
        </label>

        <input type="date" id="effective_box" name="query_effective" class="form-control">
      </div>

      <div class="col"> 
        <label for="expires_box">
          Expires
        </label>

        <input type="date" id="expires_box" name="query_expires" class="form-control">
      </div>
</div>
      <div>
        <label for="reason_box">
          Reason
        </label>

        <textarea id="reason_box" name="query_reason" class="form-control"></textarea>
      </div>

      <div>
        <label for="expectations_box">
          Expectations
        </label>

        <textarea id="expectations_box" name="query_expectations" class="form-control"></textarea>
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes" class="form-control"></textarea>
      </div>

  

      <button type="submit" class="btn btn-warning">
        Issue discipline
      </button>
    </form>
      </div>
    </div>
  </div>
</div>
       <div>
        <a href="/delete_fact_finding/<%= @the_fact_finding.id %>">
          Delete fact finding
        </a>
      </div>
    </div>
</div>
