    <div class="topnav">
  <a class="active" href="/employees">Employees</a>
  <a href="/admin">Admin</a>
  <a href="/users/sign_out">Sign Out</a>

</div>
<div>
  <div>
    <h1> 
      List of all employees
    </h1>
  </div>
</div>

<hr>

<div class="container">
<%= form_with(url: employees_path, method: :get, local: true) do %>
  <div class="form" >
    <%= label_tag :search, "Search Employees" %>
    <%= text_field_tag :search, params[:search], class: "form-control" %>
  </div>
  <div class="form">
    <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>
<% end %>
</div>



<hr>
<div>
  <div>
    <table class="table table-striped">
      <tr>
        <th>
          Employee ID
        </th>

        <th>
          First name
        </th>

        <th>
          Last name
        </th>

        <th>
          Base
        </th>
        <th>
          DOH
        </th>
      </tr>

      <% @list_of_employees.each do |an_employee| %>
      <tr>
        <td>
           <a href="/employees/<%= an_employee.emp_id %>">
            <%= an_employee.emp_id %>
          </a>  
        </td>

        <td>
          <%= an_employee.first_name %>
        </td>

        <td>
          <%= an_employee.last_name %>
        </td>

        <td>
          <%= an_employee.base %>
        </td>

        <td>
          <%= an_employee.doh %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<%= paginate @list_of_employees%>
<hr>
