<div>
  <div>
    <h1> 
      List of all employees
    </h1>
  </div>
</div>

<hr>

<div class="container">
<%= form_with(url: employees_path, method: :get, local: true) do %>
  <div class="form" >
    <%= label_tag :search, "Search Employees" %>
    <%= text_field_tag :search, params[:search], class: "form-control" %>
  </div>
  <div class="form">
    <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>
<% end %>
</div>

<div class="container">
  <div class="form">
    <h2>
      Add a new employee
    </h2>
    <form action="/insert_employee" method="post">
      <div class="col-md6">
        <label for="first_name_box" class="form-label">
          First name
        </label>
        <input type="text" id="first_name_box" name="query_first_name" class="form-control">
      </div>

      <div class="col-md6"> 
        <label for="last_name_box" class="form-label">
          Last name
        </label>

        <input type="text" id="last_name_box" name="query_last_name" class="form-control">
      </div>

      <div>
        <label for="phone_box" class="form-label">
          Phone
        </label>

        <input type="text" id="phone_box" name="query_phone" class="form-control">
      </div>

        <div>
        <label for="email_box" class="form-label">
          Email
        </label>

        <input type="text" id="email_box" name="query_email" class="form-control">
      </div>

      <div>
        <label for="base_box" class="form-label">
          Base
        </label>
<select class="form-select" multiple aria-label="Multiple select example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
        <input type="text" id="base_box" name="query_base" class="form-control">
      </div>

      <div>
        <label for="position_box" class="form-label">
          Position
        </label>

        <input type="text" id="position_box" name="query_position" class="form-control">
      </div>

      <div>
        <label for="emp_id_box" class="form-label">
          Emp
        </label>

        <input type="text" id="emp_id_box" name="query_emp_id" class="form-control">
      </div>

      <div>
        <label for="doh_box" class="form-label">
          Doh
        </label>

        <input type="date" id="doh_box" name="query_doh" class="form-control">
      </div>

      <div>
        <label for="access_box" class="form-label">
          Access
        </label>

        <input type="text" id="access_box" name="query_access" class="form-control">
      </div>

      <div>
        <label for="image_box" class="form-label">
          Image
        </label>

        <input type="text" id="image_box" class="form-control" name="query_image">
      </div>

      <button>
        Create employee
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table class="table table-striped">
      <tr>
        <th>
          ID
        </th>

        <th>
          First name
        </th>

        <th>
          Last name
        </th>

        <th>
          Phone
        </th>

        <th>
          Base
        </th>

        <th>
          Position
        </th>

        <th>
          Emp
        </th>

        <th>
          Doh
        </th>

        <th>
          Access
        </th>

        <th>
          Image
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_employees.each do |an_employee| %>
      <tr>
        <td>
          <%= an_employee.id %>
        </td>

        <td>
          <%= an_employee.first_name %>
        </td>

        <td>
          <%= an_employee.last_name %>
        </td>

        <td>
          <%= an_employee.phone %>
        </td>

        <td>
          <%= an_employee.base %>
        </td>

        <td>
          <%= an_employee.position %>
        </td>

        <td>
          <%= an_employee.emp_id %>
        </td>

        <td>
          <%= an_employee.doh %>
        </td>

        <td>
          <%= an_employee.access %>
        </td>

        <td>
          <%= an_employee.image %>
        </td>

        <td>
          <%= time_ago_in_words(an_employee.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_employee.updated_at) %> ago
        </td>

        <td>
          <a href="/employees/<%= an_employee.emp_id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
