    <div class="topnav">
  <a class="active" href="/employees">Employees</a>
  <a href="/">Admin</a>
  <a href="/users/sign_out">Sign Out</a>

</div>
    <div>
      <div>
        <a href="/employees">
          Go back
        </a>
      </div><div>
  <div>
    <h1>
      <%= @the_employee.first_name %> <%= @the_employee.last_name %>
    </h1>
<div>
  <% if @max_disciplines.present? && @max_disciplines.level == "TERM" %>
    <h4 style="color: red">TERMINATED</h4>
  <% else %>
    <h4 style="color: green">Active</h4>
  <% end %>
</div>

      <dd>
        <td><img src="<%=@the_employee.image %>" style="width:250px;"></td>
      </dd>


    <dl>
          <dt>
        Employee ID
      </dt>
      <dd>
        <%= @the_employee.emp_id %>
      </dd>
            <dt>
        Base
      </dt>
      <dd>
        <%= @the_employee.base %>
      </dd>
      <dt>
            <dt>
        Email
      </dt>
      <dd>
        <%= @the_employee.email %>
      </dd>
      <dt>
        Phone
      </dt>
      <dd>
        <%= @the_employee.phone %>
      </dd>


        <dt>
        DOH
      </dt>
      <dd>
        <%= @the_employee.doh %>
      </dd>






    </dl>
  </div>
</div>

<hr>

<h2>Notes</h2>

<div>
  <div>
    <table class="table table-striped">
      <tr>
        <th>
        Date
        </th>

        <th>
          Title
        </th>

        <th>
          Note
        </th>

           <th>
          Supervisor
        </th>

      </tr>

      <% @list_of_notes.each do |a_note| %>
      <tr>

        <td>
                  <a href="/notes/<%= a_note.id %>">
            <%= a_note.date %>
          </a>  
        </td>

        <td>
          <%= a_note.title %>
        </td>

        <td>
          <%= a_note.note %>
        </td>

         <td>
          <%= a_note.supervisor.first_name %>
          <%= a_note.supervisor.last_name %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<h2>Active Discipline</h2>
        <div>
      <% if @max_disciplines.present? %>
        <h4 style= "color: red"><%=@max_disciplines.level %></h4>
      <% else %>
        <h4 style= "color: green">No Active Discipline</h4>
      <% end %>
    </div>

<div>
  <div>
    <table class="table table-striped">
      <tr>
        <th>
          Level
        </th>

        <th>
          Title
        </th>

        <th>
          Notes
        </th>

        <th>
          Effective
        </th>

        <th>
          Expires
        </th>

        <th>
          Issued By
        </th>

      </tr>

      <% @list_of_disciplines.each do |a_discipline| %>
      <tr>
        <td>
          <a href="/disciplines/<%= a_discipline.id %>">
            <%= a_discipline.level %>
          </a>
        </td>

        <td>
          <%= a_discipline.title_for %>
        </td>
        <td>
          <%= a_discipline.notes %>
        </td>
        <td>
          <%= a_discipline.effective %>
        </td>

        <td>
          <%= a_discipline.expires %>
        </td>
        <td>
          <%= a_discipline.supervisor.first_name %>
          <%= a_discipline.supervisor.last_name %>
        </td>

        <td>
        
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<h3>Expired Discipline</h3>

<div>
  <div>
    <table class="table table-striped">
      <tr>
        <th>
          Level
        </th>

        <th>
          Title
        </th>

        <th>
          Notes
        </th>

        <th>
          Effective
        </th>

        <th>
          Expires
        </th>

        <th>
          Issued By
        </th>

      </tr>

      <% @list_of_disciplines_exp.each do |a_discipline| %>
      <tr>
      <td>
          <a href="/disciplines/<%= a_discipline.id %>">
            <%= a_discipline.level %>
          </a>
        </td>

        <td>
          <%= a_discipline.title_for %>
        </td>

        <td>
          <%= a_discipline.notes %>
        </td>

        <td>
          <%= a_discipline.effective %>
        </td>

        <td>
          <%= a_discipline.expires %>
        </td>

        <td>
          <%= a_discipline.supervisor.first_name %>
          <%= a_discipline.supervisor.last_name %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<div>
  <div class="container" style="width: 50%">
    <h2>
     Issue discipline
    </h2>

    <form action="/insert_discipline" method="post">
      <div class="row">
      <div class="col">
      <fieldset disabled>
        <label for="emp_id_box">
          Employee ID
        </label>

        <input type="text" id="emp_id_box" name="query_emp_id" class="form-control" value="<%= @the_employee.emp_id%>">
        </fieldset>
      </div>

      <div class="col">
      <fieldset disabled>
        <label for="sup_id_box">
          Supervisor
        </label>

        <input type="text" id="sup_id_box" name="query_sup_id" class="form-control value="<%= current_user.employee.emp_id%>">
        </fieldset>
      </div>
      </div>

      <div class="row">
      <div class="col">
        <label for="level_box">
          Level
        </label>

  <select id="level_box" name="query_level" class="form-select" style="width: 100%">
         <option>C&C</option>
          <option>DVW</option>
          <option>DWW</option>
          <option>FTW</option>
          <option>TERM</option>
          </select>
    </div>

        <div class="col">
        <label for="title_for_box">
          Title for
        </label>

        <input type="text" id="title_for_box" name="query_title_for" class="form-control" style="width: 100%">
      </div>
      </div>

      <div class="row">
        <div class="col">
        <label for="effective_box">
          Effective
        </label>

        <input type="date" id="effective_box" name="query_effective" class="form-control">
      </div>

      <div class="col"> 
        <label for="expires_box">
          Expires
        </label>

        <input type="date" id="expires_box" name="query_expires" class="form-control">
      </div>
</div>
      <div>
        <label for="reason_box">
          Reason
        </label>

        <textarea id="reason_box" name="query_reason" class="form-control"></textarea>
      </div>

      <div>
        <label for="expectations_box">
          Expectations
        </label>

        <textarea id="expectations_box" name="query_expectations" class="form-control"></textarea>
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes" class="form-control"></textarea>
      </div>

  

      <button type="submit" class="btn btn-warning">
        Issue discipline
      </button>
    </form>
  </div>
</div>
<hr>
<div>
  <div class="container" style="width: 50%">
    <h2>
      Edit employee
    </h2>

    <form action="/modify_employee/<%= @the_employee.emp_id %>"  method="post" >
  
      <div class="row g-3">
    <div class="col-sm">
      <label for="first_name_box">First name</label>
      <input type="text" id="first_name_box" class="form-control" name="query_first_name" value="<%= @the_employee.first_name %>">
    </div>

    <div class="col-sm-5">
      <label for="last_name_box">Last name</label>
      <input type="text" id="last_name_box" class="form-control" name="query_last_name" value="<%= @the_employee.last_name %>">
    </div>

    <div class="col-sm-2">
      <label for="emp_id_box">Employee ID</label>
      <input type="text" id="emp_id_box" name="query_emp_id" class="form-control" value="<%= @the_employee.emp_id %>" disabled>
    </div>
  </div>
  

      <div class="row">
      <div class="col">
        <label for="phone_box">
          Phone
        </label>

        <input type="text" id="phone_box" class="form-control"  name="query_phone" value="<%= @the_employee.phone %>">
      </div>

        <div class="col">
        <label for="email_box">
          Email
        </label>

        <input type="text" id="email_box" class="form-control"  name="query_email" value="<%= @the_employee.email %>">
      </div>
      </div>

  <div class="row g-4">
      <div class="col">
        <label for="base_box">
          Base
        </label>

        <select id="base_box" name="query_base" class="form-select" style="width: 100%">
         <option>CHI</option>
         <option>DEN</option>
          <option>DFW</option>
          <option>LAS</option>
          <option>MCO</option>
          <option>MIA</option>
          <option>PHL</option>
          <option>PHX</option>
          <option>TPA</option>
          </select>
    </div>
     

      <div class="col">
        <label for="position_box">
          Position
        </label>

      <select id="position_box" name="query_position" class="form-select">
         <option value="fa" <%= 'selected' if @the_employee.position %>>FA</option>
          <option value="sup" <%= 'selected' unless @the_employee.position %>>SUP</option>
          </select>
      </div>
      

           <div class="col">
        <label for="access_box">
          Access
        </label>

       <select id="access_box" name="query_access" class="form-select">
         <option value="fa" <%= 'selected' if @the_employee.access %>>FA</option>
          <option value="sup" <%= 'selected' unless @the_employee.access %>>SUP</option>
          </select>
      </div>
    



      <div class="col">
        <label for="doh_box">
          DOH
        </label>

        <input type="date" class="form-control" id="doh_box" name="query_doh" value="<%= @the_employee.doh %>">
      </div>
</div>
 

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" class="form-control" name="query_image" value="<%= @the_employee.image %>">
      </div>

      <button type="submit" class="btn btn-primary">
        Update employee
      </button>
    </form>
  </div>
</div>

<hr>
      <div>
        <a href="/delete_employee/<%= @the_employee.emp_id %>">
          Delete employee
        </a>
      </div>
    </div>
