
    <div>
      <div>
        <a href="/employees">
          Go back
        </a>
      </div><div>
  <div>
    <h1>
      <%= @the_employee.first_name %> <%= @the_employee.last_name %>
    </h1>
            <div>
      <% if @max_disciplines.level=="TERM" %>
        <h4 style= "color: red">TERMINATED</h4>
      <% else %>
        <h4 style= "color: green">Active</h4>
      <% end %>
    </div>

      <dd>
        <td><img src="<%=@the_employee.image %>" style="width:250px;"></td>
      </dd>


    <dl>
          <dt>
        Employee ID
      </dt>
      <dd>
        <%= @the_employee.emp_id %>
      </dd>
            <dt>
        Email
      </dt>
      <dd>
        <%= @the_employee.email %>
      </dd>
      <dt>
        Phone
      </dt>
      <dd>
        <%= @the_employee.phone %>
      </dd>

      <dt>
        Base
      </dt>
      <dd>
        <%= @the_employee.base %>
      </dd>
      <dt>
        Doh
      </dt>
      <dd>
        <%= @the_employee.doh %>
      </dd>






    </dl>
  </div>
</div>

<hr>

<h2>Active Discipline</h2>
        <div>
      <% if @max_disciplines.present? %>
        <h4 style= "color: red"><%=@max_disciplines.level %></h4>
      <% else %>
        <h4 style= "color: green">"No Active Discipline"</h4>
      <% end %>
    </div>

<div>
  <div>
    <table class="table table-striped">
      <tr>
        <th>
          Level
        </th>

        <th>
          Title
        </th>

        <th>
          Notes
        </th>

        <th>
          Effective
        </th>

        <th>
          Expires
        </th>

        <th>
          Issued By
        </th>

      </tr>

      <% @list_of_disciplines.each do |a_discipline| %>
      <tr>
        <td>
          <a href="/disciplines/<%= a_discipline.id %>">
            <%= a_discipline.level %>
          </a>
        </td>

        <td>
          <%= a_discipline.title_for %>
        </td>
        <td>
          <%= a_discipline.notes %>
        </td>
        <td>
          <%= a_discipline.effective %>
        </td>

        <td>
          <%= a_discipline.expires %>
        </td>
        <td>
          <%= a_discipline.sup_id %>
        </td>

        <td>
        
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<h3>Expired Discipline</h3>

<div>
  <div>
    <table class="table table-striped">
      <tr>
        <th>
          Level
        </th>

        <th>
          Title
        </th>

        <th>
          Notes
        </th>

        <th>
          Effective
        </th>

        <th>
          Expires
        </th>

        <th>
          Issued By
        </th>

      </tr>

      <% @list_of_disciplines_exp.each do |a_discipline| %>
      <tr>
      <td>
          <a href="/disciplines/<%= a_discipline.id %>">
            <%= a_discipline.level %>
          </a>
        </td>

        <td>
          <%= a_discipline.title_for %>
        </td>

        <td>
          <%= a_discipline.notes %>
        </td>

        <td>
          <%= a_discipline.effective %>
        </td>

        <td>
          <%= a_discipline.expires %>
        </td>

        <td>
          <%= a_discipline.sup_id %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<div>
  <div>
    <h2>
      Add a new discipline
    </h2>

    <form action="/insert_discipline" method="post">
      <div>
        <label for="emp_id_box">
          Emp
        </label>

        <input type="text" id="emp_id_box" name="query_emp_id">
      </div>

      <div>
        <label for="sup_id_box">
          Sup
        </label>

        <input type="text" id="sup_id_box" name="query_sup_id">
      </div>

      <div>
        <label for="level_box">
          Level
        </label>

        <input type="text" id="level_box" name="query_level">
      </div>

      <div>
        <label for="effective_box">
          Effective
        </label>

        <input type="date" id="effective_box" name="query_effective">
      </div>

      <div>
        <label for="expires_box">
          Expires
        </label>

        <input type="date" id="expires_box" name="query_expires">
      </div>

      <div>
        <label for="reason_box">
          Reason
        </label>

        <input type="text" id="reason_box" name="query_reason">
      </div>

      <div>
        <label for="expectations_box">
          Expectations
        </label>

        <input type="text" id="expectations_box" name="query_expectations">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <input type="text" id="notes_box" name="query_notes">
      </div>

      <div>
        <label for="title_for_box">
          Title for
        </label>

        <input type="text" id="title_for_box" name="query_title_for">
      </div>

      <button>
        Create discipline
      </button>
    </form>
  </div>
</div>
<hr>
<div>
  <div>
    <h2>
      Edit employee
    </h2>

    <form action="/modify_employee/<%= @the_employee.emp_id %>"  method="post" >
      <div>
        <label for="first_name_box">
          First name
        </label>

        <input type="text" id="first_name_box" name="query_first_name" value="<%= @the_employee.first_name %>">
      </div>

      <div>
        <label for="last_name_box">
          Last name
        </label>

        <input type="text" id="last_name_box" name="query_last_name" value="<%= @the_employee.last_name %>">
      </div>

      <div>
        <label for="phone_box">
          Phone
        </label>

        <input type="text" id="phone_box" name="query_phone" value="<%= @the_employee.phone %>">
      </div>

        <div>
        <label for="email_box">
          Email
        </label>

        <input type="text" id="email_box" name="query_email" value="<%= @the_employee.email %>">
      </div>

      <div>
        <label for="base_box">
          Base
        </label>

        <input type="text" id="base_box" name="query_base" value="<%= @the_employee.base %>">
      </div>

      <div>
        <label for="position_box">
          Position
        </label>

        <input type="text" id="position_box" name="query_position" value="<%= @the_employee.position %>">
      </div>

      <div>
        <label for="emp_id_box">
          Emp
        </label>

        <input type="text" id="emp_id_box" name="query_emp_id" value="<%= @the_employee.emp_id %>">
      </div>

      <div>
        <label for="doh_box">
          Doh
        </label>

        <input type="text" id="doh_box" name="query_doh" value="<%= @the_employee.doh %>">
      </div>

      <div>
        <label for="access_box">
          Access
        </label>

        <input type="text" id="access_box" name="query_access" value="<%= @the_employee.access %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_employee.image %>">
      </div>

      <button>
        Update employee
      </button>
    </form>
  </div>
</div>

<hr>
      <div>
        <a href="/delete_employee/<%= @the_employee.emp_id %>">
          Delete employee
        </a>
      </div>
    </div>
