<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
</style>
</head>
<body>

<header>
  <h2>Flight Attendant Performance Counseling Record</h2>
</header>

<section>
  <nav>
    <ul>
      <li>Employee: <%= @the_discipline.employee.first_name %> <%= @the_discipline.employee.last_name %></li>
      <li>Issued: <%= @the_discipline.effective %></li>
      <li style="color: maroon">  Type: <%= @the_discipline.level %></li>
    </ul>
  </nav>
  
  <article>
    <h4>Reason for performance counseling:</h4>
    <p><%= @the_discipline.reason%></p>

      <h4>Expectations for improvement:</h4>
    <p><%= @the_discipline.expectations%></p>
  </article>
</section>

<footer>
  <p>Issued by: <%= @the_discipline.supervisor.first_name%> <%= @the_discipline.supervisor.last_name%></p>
  <p>Effective through: <%= @the_discipline.expires%></p>

    
      <div>
       <p> <em>By e-signing this PCR, I confirm my understanding of the reasons for the disciplinary action and expectations for sustained improvement. I further understand that failrue to comply with these expectations is grounds for further disciplinary action up to and including termination.</em></p>
       <%if @the_discipline.fasign.present?%>
      <strong>This PCR was electronically signed by <%=current_user.employee.first_name%> <%=current_user.employee.first_name%> on <%= @the_discipline.updated_at%>.</strong>
      <%else%>
      <form action="/sign_discipline/<%= @the_discipline.id %>"  method="post" >
        <label for="signature_box">
          FA Signature:
        </label>
        <div style="display: flex; justify-content: center; align-items: center;">
        <input type="text" id="signature_box" name="query_signature" class="form-control" style="width: 25%">
      </div>
     </div>
      <button type="submit" class="btn btn-light">
        Sign
      </button>
    </form>
  </div>
  <%end%>
</div>
</footer>

</body>
</html>


<div>
  <div>


    <div>

      </div>
