
<div class="container text-center">
    <div class="row align-items-center">
    <h2>
      Hello, <%= current_user.employee.first_name %> <%= current_user.employee.last_name %>!
    </h2>
<%if @list_of_messages > 0 %>
<div class="alert alert-warning" role="alert">
<a href="/famessages">You have <%=@list_of_messages%> unread message(s)!</a>
 </div>
 </div> 
</div>
<%end%>

<div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
    <h1>
      <%= current_user.employee.first_name %> <%= current_user.employee.last_name %>  | 
       <%= current_user.emp_id %> 
    </h1>
      </div>
    </div>
  </div>

<div class="container text-start">
  <div class="row justify-content-center">
    <div class="col-3">
      <img src="<%= current_user.employee.image %>" style="width:250px;" class="img-fluid">
    </div>
    <div class="col-3">
      <dl>
        <dt>Base</dt>
        <dd><%= current_user.employee.base %></dd>

        <dt>Email</dt>
        <dd><%= current_user.employee.email %></dd>

        <dt>Phone</dt>
        <dd><%= current_user.employee.phone %></dd>

        <dt>DOH</dt>
        <dd><%= current_user.employee.doh %></dd>
      </dl>
    </div>
  </div>
</div>
<hr>


<h2>Active Discipline</h2>
        <div>
      <% if @max_disciplines.present? %>
        <h4 style= "color: red"><%=@max_disciplines.level %></h4>
      <% else %>
        <h4 style= "color: green">No Active Discipline</h4>
      <% end %>
    </div>

<div>
  <div>
    <table class="table table-striped">
      <tr>
        <th>
          Level
        </th>

        <th>
          Title
        </th>


        <th>
          Effective
        </th>

        <th>
          Expires
        </th>


      </tr>

      <% @list_of_disciplines.each do |a_discipline| %>
      <tr>
        <td>
          <a href="/fadisciplines/<%= a_discipline.id %>/<%= current_user.employee.emp_id%>">
            <%= a_discipline.level %>
          </a>
        </td>

        <td>
          <%= a_discipline.title_for %>
        </td>
        <td>
          <%= a_discipline.effective %>
        </td>

        <td>
          <%= a_discipline.expires %>
        </td>


        <td>
        
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<h3>Expired Discipline</h3>

<div>
  <div>
    <table class="table table-striped">
      <tr>
        <th>
          Level
        </th>

        <th>
          Title
        </th>

        <th>
          Effective
        </th>

        <th>
          Expires
        </th>


      </tr>

      <% @list_of_disciplines_exp.each do |a_discipline| %>
      <tr>
      <td>
          <a href="/fadisciplines/<%= a_discipline.id %>/<%= current_user.employee.emp_id%>">
            <%= a_discipline.level %>
          </a>
        </td>

        <td>
          <%= a_discipline.title_for %>
        </td>

        <td>
          <%= a_discipline.effective %>
        </td>

        <td>
          <%= a_discipline.expires %>
        </td>


      </tr>
      <% end %>
    </table>
  </div>
</div>

  