    <div class="topnav">
  <a class="active" href="/fa.<%= current_user.employee.emp_id%>">My Profile</a>
  <a href="/famessages">Messaging</a>
  <a href="/users/sign_out">Sign Out</a>
  </div>
<h1>
      Hello, <%= current_user.employee.first_name %> <%= current_user.employee.last_name %>!
    </h1>

 <dd>
        <td><img src="<%= current_user.employee.image %>" style="width:250px;"></td>
      </dd>


    <dl>
          <dt>
        Employee ID
      </dt>
      <dd>
        <%= current_user.employee.emp_id %>
      </dd>
            <dt>
        Base
      </dt>
      <dd>
        <%= current_user.employee.base %>
      </dd>
      <dt>
            <dt>
        Email
      </dt>
      <dd>
        <%= current_user.employee.email %>
      </dd>
      <dt>
        Phone
      </dt>
      <dd>
        <%= current_user.employee.phone %>
      </dd>


        <dt>
        DOH
      </dt>
      <dd>
        <%= current_user.employee.doh %>
      </dd>

<h2>Active Discipline</h2>
        <div>
      <% if @max_disciplines.present? %>
        <h4 style= "color: red"><%=@max_disciplines.level %></h4>
      <% else %>
        <h4 style= "color: green">No Active Discipline</h4>
      <% end %>
    </div>

<div>
  <div>
    <table class="table table-striped">
      <tr>
        <th>
          Level
        </th>

        <th>
          Title
        </th>


        <th>
          Effective
        </th>

        <th>
          Expires
        </th>


      </tr>

      <% @list_of_disciplines.each do |a_discipline| %>
      <tr>
        <td>
          <a href="/fadisciplines/<%= a_discipline.id %>/<<%= current_user.employee.emp_id%>">
            <%= a_discipline.level %>
          </a>
        </td>

        <td>
          <%= a_discipline.title_for %>
        </td>
        <td>
          <%= a_discipline.effective %>
        </td>

        <td>
          <%= a_discipline.expires %>
        </td>


        <td>
        
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<h3>Expired Discipline</h3>

<div>
  <div>
    <table class="table table-striped">
      <tr>
        <th>
          Level
        </th>

        <th>
          Title
        </th>

        <th>
          Effective
        </th>

        <th>
          Expires
        </th>


      </tr>

      <% @list_of_disciplines_exp.each do |a_discipline| %>
      <tr>
      <td>
          <a href="/fadisciplines/<%= a_discipline.id %>/<%= current_user.employee.emp_id%>">
            <%= a_discipline.level %>
          </a>
        </td>

        <td>
          <%= a_discipline.title_for %>
        </td>

        <td>
          <%= a_discipline.effective %>
        </td>

        <td>
          <%= a_discipline.expires %>
        </td>


      </tr>
      <% end %>
    </table>
  </div>
</div>
