
<div>
  <div>
    <h1>
      Inbox
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table class="table table-striped">
      <tr>

        <th>
          From
        </th>

        <th>
          Subject
        </th>

        <th>
          Received
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_messages.each do |a_message| %>
      <tr>
<td>
  <% if !a_message.read %>
    <strong><%= a_message.supervisor.first_name%> <%= a_message.supervisor.last_name%></strong>
  <% else %>
    <%= a_message.supervisor.first_name%> <%= a_message.supervisor.last_name%>
  <% end %>
</td>

        <td>
      <% if !a_message.read %>
    <strong><%= a_message.subject %></strong>
  <% else %>
    <%= a_message.subject %>
  <% end %>
        </td>

        <td>
          <% if !a_message.read %>
    <strong> <%= time_ago_in_words(a_message.updated_at) %> ago</strong>
  <% else %>
    <%= time_ago_in_words(a_message.updated_at) %>
  <% end %>
        </td>
        <td>
          <a href="/famessages/<%= a_message.id %>/<%= current_user.employee.emp_id%>">
                    <% if !a_message.read %>
    <strong> Show details</strong>
  <% else %>
    Show details
  <% end %>
            
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
