    <div class="topnav">
  <a class="active" href="/fa.<%= current_user.employee.emp_id%>">My Profile</a>
  <a href="/famessages">Messaging</a>
  <a href="/users/sign_out">Sign Out</a>
  </div>
  <div>
    <h1>
      Message #<%= @the_message.id %> details
    </h1>

    <div>
      <div>
        <a href="/messages">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_message/<%= @the_message.id %>">
          Delete message
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Emp
      </dt>
      <dd>
        <%= @the_message.emp_id %>
      </dd>

      <dt>
        Sup
      </dt>
      <dd>
        <%= @the_message.sup_id %>
      </dd>

      <dt>
        Subject
      </dt>
      <dd>
        <%= @the_message.subject %>
      </dd>

      <dt>
        Message
      </dt>
      <dd>
        <%= @the_message.message %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_message.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_message.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit message
    </h2>

    <form action="/modify_message/<%= @the_message.id %>"  method="post" >
      <div>
        <label for="emp_id_box">
          Emp
        </label>

        <input type="text" id="emp_id_box" name="query_emp_id" value="<%= @the_message.emp_id %>">
      </div>

      <div>
        <label for="sup_id_box">
          Sup
        </label>

        <input type="text" id="sup_id_box" name="query_sup_id" value="<%= @the_message.sup_id %>">
      </div>

      <div>
        <label for="subject_box">
          Subject
        </label>

        <input type="text" id="subject_box" name="query_subject" value="<%= @the_message.subject %>">
      </div>

      <div>
        <label for="message_box">
          Message
        </label>

        <input type="text" id="message_box" name="query_message" value="<%= @the_message.message %>">
      </div>

                  <div class="form-check">
        <label for="read_box">
          Read
        </label>

        <input type="checkbox" id="read_box" name="query_read" value="<%= @the_message.read %>">
      </div>

      <button>
        Update message
      </button>
    </form>
  </div>
</div>

<hr>
