    <div class="topnav">
  <a class="active" href="/fa.<%= current_user.employee.emp_id%>">My Profile</a>
  <a href="/famessages">Messaging</a>
  <a href="/users/sign_out">Sign Out</a>
  </div>
  <div>
    <h1>
      Message #<%= @the_message.id %> details
    </h1>

    <div>
      <div>
        <a href="/messages">
          Go back
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Emp
      </dt>
      <dd>
        <%= @the_message.emp_id %>
      </dd>

      <dt>
        Sup
      </dt>
      <dd>
        <%= @the_message.sup_id %>
      </dd>

      <dt>
        Subject
      </dt>
      <dd>
        <%= @the_message.subject %>
      </dd>

      <dt>
        Message
      </dt>
      <dd>
        <%= @the_message.message %>
      </dd>

      <dt>
        Sent
      </dt>
      <dd>
        <%= time_ago_in_words(@the_message.created_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Mark as read
    </h2>
    <form action="/modify_message/<%= @the_message.id %>"  method="post" >
                  <div class="form-check">
        <label for="read_box">
          Read
        </label>

        <input type="checkbox" id="read_box" name="query_read" value="<%= @the_message.read %>">
      </div>

      <button>
        Update
      </button>
    </form>
  </div>
</div>

<hr>
