 <div class="container">
  <h2>Hello, <%=current_user.employee.first_name%>!

<%if @list_of_resched.count >0 or @list_of_ffms.count>0 %>
<div class="alert alert-warning" role="alert">
<h4 class="alert-heading">Today's to-do list:</h4>
<ul>
  <li style="font-size: 0.6em;">You have <%=@list_of_ffms.count%> FFM(s) requiring conclusions</li>
  <li style="font-size: 0.6em;">You have <%=@list_of_resched.count%> FFM(s) reschedule requests</li>
</ul>
 </div>
 <%else%>
<div class="alert alert-success" role="alert">
<h4 class="alert-heading">Nothing to do here!</h4>
 </div>
 <%end%>
  
  <h2> Pending Conclusions (<%=@list_of_ffms.count%>)</h2>
  
  <div>
    <table class="table table-striped">
      <tr>
        <th>
          Date
        </th>

           <th>
          FA
        </th>

        <th>
          To Discuss
        </th>

           <th>
          FA Response
        </th>

     

      <% @list_of_ffms.each do |a_ffm| %>
      <tr>
        <td>
          <a href="/fact_findings/<%= a_ffm.id %>">
            <%= a_ffm.date.strftime("%-m/%-d/%y") %> <%= a_ffm.time.strftime("%H:%M") %>
          </a>
        </td>
   <td>
          <%= a_ffm.employee.first_name %> <%= a_ffm.employee.last_name %>
        </td>
        <td>
          <%= a_ffm.to_discuss %>
        </td>
            <td>
          <%if a_ffm.response.present? %>
          <%= a_ffm.response %>
          <%else%>
          Awaiting Response
          <%end%>
        </td>
 
      </tr>
      <% end %>
    </table>
  </div>
<br>

<h2> Reschedule Requests (<%=@list_of_resched.count%>)</h2>
    <div>
    <table class="table table-striped">
      <tr>
        <th>
          Date
        </th>

      <th>
          FA
        </th>

        <th>
          To Discuss
        </th>

           <th>
          FA Response
        </th>

 

      <% @list_of_resched.each do |a_ffm| %>
      <tr>
        <td>
          <a href="/fact_findings/<%= a_ffm.id %>">
            <%= a_ffm.date.strftime("%-m/%-d/%y") %> <%= a_ffm.time.strftime("%H:%M") %>
          </a>
        </td>

   <td>
          <%= a_ffm.employee.first_name %> <%= a_ffm.employee.last_name %>
        </td>

        <td>
          <%= a_ffm.to_discuss %>
        </td>
            <td>
          <%if a_ffm.response.present? %>
          <%= a_ffm.response %>
          <%else%>
          Awaiting Response
          <%end%>
        </td>
     
      </tr>
      <% end %>
    </table>
  </div>

<div class="container">
  <div class="form" style="width: 75%">
    <h2>
      Add a new employee
    </h2>
    <form action="/insert_employee" method="post">
            <div class="row g-3">
    <div class="col-sm">
      <label for="first_name_box">First name</label>
      <input type="text" id="first_name_box" class="form-control" name="query_first_name" >
    </div>

    <div class="col-sm-5">
      <label for="last_name_box">Last name</label>
      <input type="text" id="last_name_box" class="form-control" name="query_last_name" >
    </div>

    <div class="col-sm-2">
      <label for="emp_id_box">Employee ID</label>
      <input type="text" id="emp_id_box" name="query_emp_id" class="form-control" ">
    </div>
  </div>
  

      <div class="row">
      <div class="col">
        <label for="phone_box">
          Phone
        </label>

        <input type="text" id="phone_box" class="form-control"  name="query_phone">
      </div>

        <div class="col">
        <label for="email_box">
          Email
        </label>

        <input type="text" id="email_box" class="form-control"  name="query_email">
      </div>
      </div>

  <div class="row g-4">
      <div class="col">
        <label for="base_box">
          Base
        </label>

        <select id="base_box" name="query_base" class="form-select" style="width: 100%">
         <option>CHI</option>
         <option>DEN</option>
          <option>DFW</option>
          <option>LAS</option>
          <option>MCO</option>
          <option>MIA</option>
          <option>PHL</option>
          <option>PHX</option>
          <option>TPA</option>
          </select>
    </div>
     

      <div class="col">
        <label for="position_box">
          Position
        </label>

      <select id="position_box" name="query_position" class="form-select">
         <option >FA</option>
          <option >SUP</option>
          </select>
      </div>
      

           <div class="col">
        <label for="access_box">
          Access
        </label>

       <select id="access_box" name="query_access" class="form-select">
         <option >FA</option>
          <option>SUP</option>
          </select>
      </div>
    



      <div class="col">
        <label for="doh_box">
          DOH
        </label>

        <input type="date" class="form-control" id="doh_box" name="query_doh">
      </div>
</div>
 

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" class="form-control" name="query_image">
      </div>

      <button type="submit" class="btn btn-primary">
        Add Employee
      </button>
    </form>
  </div>
</div>
</div>
