    <div class="topnav">
  <a class="active" href="/fa.<%= current_user.employee.emp_id%>">My Profile</a>
  <a href="/famessages">Messaging</a>
  <a href="/users/sign_out">Sign Out</a>
  </div>
  <div>
    <h1>
      Message #<%= @the_message.id %> details
    </h1>

    <div>
      <div>
        <a href="/messages">
          Go back
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Emp
      </dt>
      <dd>
        <%= @the_message.emp_id %>
      </dd>

      <dt>
        Sup
      </dt>
      <dd>
        <%= @the_message.sup_id %>
      </dd>

      <dt>
        Subject
      </dt>
      <dd>
        <%= @the_message.subject %>
      </dd>



      <dt>
        Sent
      </dt>
      <dd>
        <%= time_ago_in_words(@the_message.created_at) %> ago
      </dd>

      <hr>
      <dd>
        <%= raw(@the_message.message) %>
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Mark as read
    </h2>
    <form action="/read_message/<%= @the_message.id %>"  method="post" >
                  <div class="form-check">
        <label for="read_box">
          Read
        </label>

        <select id="read_box" name="query_read">
         <option value="true" <%= 'selected' if @the_message.read %>>Read</option>
          <option value="false" <%= 'selected' unless @the_message.read %>>Unread</option>
          </select>
      </div>

      <button>
        Update
      </button>
    </form>
  </div>
</div>

<hr>
