    <div class="topnav">
  <a class="active" href="/fa.<%= current_user.employee.emp_id%>">My Profile</a>
  <a href="/famessages">Messaging</a>
  <a href="/users/sign_out">Sign Out</a>
  </div>
  <div>
    <h1>
      Subject: <%= @the_message.subject %>
    </h1>

    <dl>
      <dt>
        To
      </dt>
      <dd>
        <%= @the_message.employee.first_name %> <%= @the_message.employee.last_name %>
      </dd>

      <dt>
        From
      </dt>
      <dd>
        <%= @the_message.supervisor.first_name %> <%= @the_message.supervisor.last_name %>
      </dd>

      <dt>
        Received
      </dt>
      <dd>
        <%= time_ago_in_words(@the_message.created_at) %> ago
      </dd>
<div>
  <div>
    <h4>
      Status
    </h4>
  
    <% if @the_ffm.response.present? %>
    Response: <%=@the_ffm.response%>
      <%else%>
   <form action="/read_message/<%= @the_message.id %>"  method="post" >
                  <div class="form-check">
                     <div class="form-check">
        <label for="read_box">
          Response
        </label>

        <select id="response_box" name="query_response">
         <option>Accept Meeting</option>
          <option>Decline Meeting</option>
          <option>Request Reschedule</option>
          </select>
      </div>
            <button>
        Update
      </button>
    </form>
    <%end%>
  </div>
</div>
      <hr>
      <dd>
        Dear <%= current_user.employee.first_name %>,
        <br>
        <%= raw(@the_message.message) %>
        <br>
        <%= @the_message.supervisor.first_name %> <%= @the_message.supervisor.last_name%>
      </dd>
    </dl>
  </div>
</div>

<hr>






<hr>
