
  <div class="container">
    <h2>
      Subject: <%= @the_message.subject %>
    </h2>

    <dl>
      <dt>
        To
      </dt>
      <dd>
        <%= @the_message.employee.first_name %> <%= @the_message.employee.last_name %>
      </dd>

      <dt>
        From
      </dt>
      <dd>
        <%= @the_message.supervisor.first_name %> <%= @the_message.supervisor.last_name %>
      </dd>

      <dt>
        Received
      </dt>
      <dd>
        <%= time_ago_in_words(@the_message.created_at) %> ago
      </dd>
<div>
  <div>
    <h4>
      Status
    </h4>
  <%if @the_message.subject.include?("FFM")%>
    <% if @the_ffm.response.present? %>
    Response: <%=@the_ffm.response%>
      <%else%>
   <form action="/read_message/<%= @the_message.id %>"  method="post" >
                  <div class="form-check">
                     <div class="form-check">
        <label for="resp_box">
          Response
        </label>
      <%if @the_ffm.date2.present?%>
        <select id="resp_box" name="query_response">
         <option>Accept Meeting</option>
          <option>Decline Meeting</option>
          </select>
             <button>
        Update
      </button>
    </form>
        <%else%>
        <select id="resp_box" name="query_response">
         <option>Accept Meeting</option>
          <option>Decline Meeting</option>
          <option>Request Reschedule</option>
          </select>
        <button>
        Update
      </button>
    </form>
        <%end%>
      <%end%>
    <%end%>
  <%if @the_message.subject.include?("Disciplinary")%>
    <% if @the_message.read=="true" %>
    Read
      <%else%>
   <form action="/read_message/<%= @the_message.id %>"  method="post" >
                  <div class="form-check">
                     <div class="form-check">
        <label for="read_box">
          Status
        </label>
        <select id="read_box" name="query_read">
         <option>Unread</option>
          <option>Read</option>
          </select>
    
        <button>
        Update
      </button>
    </form>
    <%end%>
    <%end%>
  </div>
</div>
      <hr>
      <dd>
        Dear <%= current_user.employee.first_name %>,
        <br>
        <%= raw(@the_message.message) %>
        <br>
        <%= @the_message.supervisor.first_name %> <%= @the_message.supervisor.last_name%>
        <br>
     <%if @the_message.disc_id.present?%>
            <a href="/fadisciplines/<%= @the_message.disc_id %>/<%= current_user.employee.emp_id%>">
           Please review the performance counseling record and sign it to confirm you understand the expectations therein.
          </a>
        <%end%>

      </dd>
    </dl>
      <hr>
  </div>

</div>
